<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block style_head %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}">
    {% endblock %}
    <title>{% block title %}{% endblock%}</title>
</head>
<body>
    <div class="sidenav">
        <div class="sidenav-header">
            <img src="{{url_for('static', filename='assets/userimage.png') }}" alt="User Image" class="profile-image">
            <span class="username">John Doe</span>
        </div>
        <a href="#">User Settings</a>
    </div>

    <div class="main-content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
