{% extends  "base.html"%}
{% block title %}Dashboard | Home{% endblock %}
{% block username %}{{user.name}}{% endblock %}
{% block content %}
<div class="img-container">
	<img src="{{url_for('static', filename='assets/productImage.jpg')}}" class="product-image">
	<h1>Product Name</h1>
</div>
		<form>
			<label for="product-link">Enter product link:</label>
			<input type="text" id="product-link" name="product-link">

			<label for="retail-price">Retail price:</label>
			<input type="text" id="retail-price" name="retail-price">

			<label for="shipping-rate">Expected shipping rate %:</label>
			<input type="text" id="shipping-rate" name="shipping-rate">

			<label for="max-shipping-duration">Max shipping duration:</label>
			<input type="text" id="max-shipping-duration" name="max-shipping-duration">
			International<input type="radio" id="search-type-international" name="search-type" value="international">
				
			Select countries<input type="radio" id="search-type-select-countries" name="search-type" value="select-countries">

			<br><br><input type="submit" class="btn-start-search" value="Start search">
		</form>
{% endblock %}